
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    margin-bottom: 20px;
    text-align: center;
    background-color: darkslategrey; /* Set a solid background color */
    padding: 20px; /* Added padding for better spacing */
    border-radius: 8px; /* Added border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
  }

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="checkbox"] {
    margin-right: 6px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 1;
}

.login-container input[type="submit"]:hover {
    background-color: green;
}
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  #video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
  }
  .error {
    color: red; /* Set the text color to red */
    margin-top: 5px; /* Adjust the margin for better spacing */
  }
  body.transition-out {
    opacity: 0;
    transition: opacity 0.5s ease;
  } 
    .register{
      margin-top: 10px;
  }
  
  .register a {
      color: white;
      text-decoration: none;
  }
  